<div class="homepage"  >


    <div class="header responsive" id="header1" >
     
     <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="display: flex;justify-content: space-around;background-image: url(../../../assets/images/background.png)">
      <div class="container-fluid">
      
      <img src="../../../assets/images/icon.png" alt="hj" width="100" height="90" >
            
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup"  >
          <div class="navbar-nav mr-auto" id="headnav" >
           <div ><a class="nav-item nav-link" href="#" style="color: white;">HOME </a></div> 
           <div> <a class="nav-item nav-link head_button"  style="color: white;" href="#">ABOUT YLF</a></div>
           <div> <a class="nav-item nav-link head_button" style="color: white;" routerLink="/registration">REGISTRATION</a></div>
           <div><a class="nav-item nav-link head_button" style="color: white;" href="#">SCHEDULE</a></div> 
           <div><a class="nav-item nav-link head_button" style="color: white;" href="#">SPEAKERS</a></div> 
           <div><a class="nav-item nav-link head_button" style="color: white;" href="#">CONTACT</a></div> 
          </div>
        </div>
        </div>
      </nav> 
    </div>

    <div class="banner">
        <div class="banner_top">
            
            
                <div>
                   
                    <img src="../../../assets/images/malayalam_banner.png" alt="W3Schools.com"  class="responsive">
                </div>
            
            <div class="cele">
                <img src="../../../assets/images/Celebration  of   Diversity.png" alt="W3Schools.com"  class="responsive">
                
            </div>
        </div>
        <div class="banner_bottom">
            <img src="../../../assets/images/boat.png" alt="W3Schools.com" class="responsive"   >
        </div>
    </div> 
    <div class="about">
        <div class="row" >
            <div class="col-sm-4"><img src="../../../assets/images/about.png" alt="W3Schools.com" class="responsive"   ></div>
            <div class="col-sm-8" style="font-size: 16px;font-family: Montserrat;color: rgb(56, 85, 166);">
                <div class="row">Youth, the powerhouse of our nation, is crucial in our journey forward. Only by grooming young people who are capable of action, perseverance and creativity, the country can progress with the times. Yuvadhara Magazine is a youth publication that has historically been instrumental in implementing this mission.
                <br><br>
                Yuvadhara magazine played a major role in uplifting the new generation in the field of art and literature. With the aim of developing the creative and working potential of the youth, Yuvadhara is organizing a Youth Literature Festival at Fort Kochi on May 12, 13 and 14. World famous writers, artists, political leaders and young talent will be part of the festival. A book festival and a food festival are also being organized in connection with this.  Yuvadhara Youth Literature Festival, which is going to be a Mega Festival with tens of thousands of participants.</div>
            <div class="row" style="padding-top: 30px;">
              <button class="read_more rounded-pill">Read More</button>
            </div>
            </div>
          </div>
    </div>


 

    <div class="speakers">
        <div class="row row1_speakers justify-content-center">
         <p class="responsive" style="text-align: center;"> YLF SPEAKERS</p>
            <!-- <img src="../../../assets/images/YLF  speakers.png" class="responsive"> -->
        </div>
        <div class="card-group" style="background: transparent;padding: 30px;">
            <div class="card" style="background-image: url(../../../assets/images/pinarayi_background.png); background-repeat: no-repeat;background-size: cover;">
              <img class="card-img-top" src="../../../assets/images/pinarayi.png" alt="Card image cap" >
            </div>
            <div class="card" style="background: transparent;">
              <img class="card-img-bottom" src="../../../assets/images/benyamin.png" alt="Card image cap" >
            </div>
            <div class="card" style="background: transparent;">
                <img class="card-img-top" src="../../../assets/images/arundhatiroy.png" alt="Card image cap">
              </div>
          </div>
          <div class="card-group" style="background: transparent;padding: 30px;">
            <div class="card" style="background: transparent;">
              <img class="card-img-top" src="../../../assets/images/geetanjali.png" alt="Card image cap" style="height: 700px;">
            </div>
            <div class="card" style="background: transparent;">
              <img class="card-img-top" src="../../../assets/images/ns madhavan.png" alt="Card image cap" style="height: 700px;">
            </div>
            <div class="card" style="background: transparent;">
                <img class="card-img-top" src="../../../assets/images/sachid.png" alt="Card image cap" style="height: 700px;">
              </div>
          </div>
           
            <div class="row row1_speakers justify-content-center">
                <button class="view_all rounded-pill">View All</button>
            </div>
       
    </div>
     <div class="book">
       <div> <img src="../../../assets/images/book_reading.png" alt="W3Schools.com" class="responsive"   ></div>
       <div><img src="../../../assets/images/book_logo.png" alt="W3Schools.com" class="responsive"   ></div>
    </div> 
    <!-- <div class="footer">
           <img src="../../../assets/images/footer_boat.png" class="responsive" style="padding-top: 2.5rem;">
    <div class="footer_bottom">
        <div class="footer_box">
            <div class="footer_link">
                <button>HOME</button>
                <button>ABOUT YLF</button>
                <button routerLink="registration">REGISTRATION</button>
                <button>SCEDULE</button>
                <button>SPEAKERS</button>
                <button>CONTACT</button>
            </div>
            <div class="footer_copyright">
              <div>
                Copyright © Yuvadhara Youth Literature Festival 2023
              </div>
              <div >
                <img src="../../../assets/images/insta.png" alt="" class="footer_icons">
                <img src="../../../assets/images/facebook.png" alt="" class="footer_icons" >
                <img src="../../../assets/images/twitter.png" alt="" class="footer_icons">
                <img src="../../../assets/images/youtube.png" alt="" class="footer_icons">     
              </div>         
           </div>
        </div>
        
        <div><a href="#header1"><img src="../../../assets/images/bottom redbutton.png"></a></div>
    </div>
    
    </div> -->




    <div class="footer">
      <div><img src="../../../assets/images/footer_boat.png" class="responsive" style="padding-top: 2.5rem;"></div>
      <div class="footer_bottom">
          <div class="footer_box">
            <div class="footer_link" > 

               <button>HOME</button>
                <button>ABOUT YLF</button>
                <button routerLink="registration">REGISTRATION</button>
               <button>SCHEDULE</button>
                <button>SPEAKERS</button>
                <button>CONTACT</button> 
            </div>
            
            <div class="footer_copyright">
              <div>
                Copyright © Yuvadhara Youth Literature Festival 2023
              </div>
              <div>
                <img src="../../../assets/images/insta.png" alt="" class="footer_icons">
                <img src="../../../assets/images/facebook.png" alt="" class="footer_icons" >
                <img src="../../../assets/images/twitter.png" alt="" class="footer_icons">
                <img src="../../../assets/images/youtube.png" alt="" class="footer_icons">     
              </div>   
            </div>
           
          </div>



          <div><a href="#header1"><img src="../../../assets/images/bottom redbutton.png"  width="30" height="30" ></a></div>
        
      </div>
    </div>
</div>

  


  